
@{
    ViewBag.Title = "Clips";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Clips</h2>

<h6>India vs. Pakistan ODI</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2oOcEs1a6ic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h6>India vs. Pakistan T20</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Ow4J5nxJ388" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h6>India vs. England ODI</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/oOhJTq3uYnk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h6>England vs. India T20</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/R3fRIgNOdio" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h6>India vs. Australia ODI </h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rpPCjyVfQOo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h6>India vs. Australia T20</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dMGRTR97Ito" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
