
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<h2>History of Indian Cricket</h2>

<img src="~/IMages/Virat 1.jpg" width="200" height="200" />
<h6>Test status (1932–1970)</h6>
<p>
    A few Indians played as members of the English cricket team while India was under British rule, including Ranjitsinhji and KS Duleepsinhji, before we start with all of the history of Indian Cricket its very important to know about the person behind this great history of Indian Cricket. Maharaja Of Patiala Sir Bhupinder Singh or Bhuppa best known for his extravagance and for being a cricketer. His cricket teams – Patiala XI is among the best of India. He was a great patron of sports. Maharaja of patiala is the man behind the golden history of Indian Cricket. He sponsored various tours of India for cricket and various tournaments using his own money. He was captain of the Indian cricket team that visited England in 1911, and played in 27 first-class cricket matches between 1915 and 1937. For the season of 1926/27, he played as a member of Marylebone Cricket Club. He donated the Ranji Trophy in honour of Kumar Shri Ranjitsinhji, Jam Sahib of Nawanagar. He was selected as the captain of India on its first Test tour of England in 1932, but dropped out for reasons of health two weeks before departure and the Maharaja of Porbandar took over. All this way India becoming the sixth team to be granted test cricket status. India made its debut as a Test-cricket-playing-nation in England in 1932 led by CK Nayudu, well before Indian independence. The team performed well, with Mohammad Nissar taking 5-93 and 1-42 in the match against England. The match was given test status despite being only 3 days in length. England, batting first, scored 258 with Nissar cleaning up the openers and tailenders. However the Indian team failed to capitalize on their bowling performance, all out for 189 with CK Nayudu the top scorer with 40 runs. England went on to score 275 and set India a target of 346, which always seemed out of the visitor's grasp. India were all out for 187 and lost by 158 runs.

    The team's first series as an independent country was in 1948 against Australia at Brisbane. Australia were led by Sir Don Bradman while India was led by Lala Amarnath. The Australians returned home, winning the 5 Test series with the score 4–0.
</p>
<img src="~/IMages/Club 4.jpg" width="200" height="200" />

<p>
    India's first ever Test victory came against England at Madras in 1952. India's first series victory was against Pakistan later the same year. In 1954, India drew a 5-Test series with Pakistan 0–0, the batting strength from India had come from Polly Umrigar and Vijay Manjrekar while the prime bowler was Subhash Gupte with 21 wickets in the series. India's first series against New Zealand in 1956 created a comprehensive series victory for India, winning the 5-Test series 2–0. MH Mankad was excellent in his batting, averaging 105.2 in the series while scoring 526 runs. Once again, S.M. Gupte held India's bowling together, with 34 wickets. The remainder of the 1950s did not show as good results as the start: India lost a 3-Test series to Australia (2-0), lost a 5-Test series against the West Indies (3-0),

    The team's performances again began to improve in the 1960s, starting with their first series win over England in 1961–62. During this time, India's strong record at home started to develop, in which the team won a series against New Zealand in 1965-66 and drew series against Pakistan, Australia and England. In 1967–68, India won their first series outside the subcontinent against New Zealand.
</p>

<h6>One-day cricket and World Cup success (1970–1985)</h6>
<p>
    Sunil Gavaskar made his debut for India in the West Indies in 1970-71 and immediately made an impact, scoring a total of 774 runs for the series and helping India to a 1–0 series win, their first ever win over the West Indies. Together with established players like Bishen Bedi, Srinivas Venkataraghavan, Erapalli Prasanna and Bhagwat Chandrasekhar, Gavaskar formed the nucleus of arguably India's strongest Test team up to that point in time. India's win over the West Indies was followed by home and away wins over England in 1971 and 1972–73.

    During the 1980s, other players like Mohammed Azharuddin, Ravi Shastri, Laxman Sivaramakrishnan, Sanjay Manjrekar, Krish Srikkanth and Maninder Singh emerged. India won the Cricket World Cup in 1983, defeating West Indies in an exciting fin
</p>

<h6>Late 20th century (1985–2000)</h6>
<p>
    In 1985, India won the World Championship of Cricket in Australia. The Test series victory in 1986 in England remained, for nearly 19 years, the last Test series win outside subcontinent. Sunil Gavaskar became the first batsman to accumulate 10,000 runs in Test cricket, and went on to register a record 34 centuries, surpassed only recently by Sachin Tendulkar. Kapil Dev, a genuine all-rounder, became the highest wicket taker in Test cricket, surpassing Richard Hadlee to take a total of 434 wickets, a record which has since been broken by Courtney Walsh, Shane Warne and Muttiah Muralitharan and has also been surpassed by fellow Indian Anil Kumble. The emergence of Sachin Tendulkar and Anil Kumble in 1989 and 1990 was to herald an era of Indian cricket that was dominated by stars and individual brilliance. Sachin Tendulkar became arguably the best batsman in the world, along with Brian Lara of the West Indies and in 1998, Sir Donald Bradman himself remarked that Tendulkar batting style was similar to his. Mohammed Azharuddin, who captained India for most of the 1990s, proved a captain whose main strength, if not his motivational skills, was an ability to stay cool under pressure. Azharuddin's artistic batting, however, declined during the later years of his captaincy, and his best innings during this time were mostly when playing at home. The Hyderabadi stylist's career ended after 99 Tests when he was banned for life after being implicated in the match-fixing scandal. Under his captaincy, the Indian team became virtually unbeatable at home, with big wins against teams such as England, Sri Lanka, South Africa and Australia. Their performances abroad, however, left a lot to be desired.

    Towards the end of 1999, the Indian team was in flux. Although they had performed well in the 1999 World Cup, the winter was marked by a disastrous tour to Australia which exposed the Indian team's weaknesses when playing abroad, marked with a loss of form of most of the batsmen, except Tendulkar and the newly emerged VVS Laxman. After Tendulkar quit captaincy and Azharuddin was banned for match-fixing, Sourav Ganguly took over as captain, and the New Zealander John Wright became coach.
</p>