
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<h2>Home</h2>
<img src="~/IMages/India 1.jpg" width="200"  height="200"/>
<p>Fit-again Rohit to lead India for WI series; Kuldeep back for ODIs</p>

<img src="~/IMages/India cs.jpg" width="200" height="200" />
<p>Rohit Sharma is fit again and will lead India in the home series against West Indies starting February 6. The series comprises three ODIs and three T20Is and will see the return of Kuldeep Yadav as well. The left-arm wristspinner has not played any kind of competitive cricket for the last six months, but India are in dire need of wicket-taking options in the middle overs and he has a record of being just that. On the batting front, Rajasthan's Deepak Hooda has received a maiden ODI call-up.</p>